[submodule "submodules/vierkant"]
	path = submodules/vierkant
	url = git@github.com:crocdialer/vierkant.git

[submodule "submodules/cereal"]
	path = submodules/cereal
	url = git@github.com:USCiLab/cereal.git
  shallow = true

[submodule "submodules/libzip"]
	path = submodules/libzip
	url = git@github.com:nih-at/libzip.git
  shallow = true
[submodule "submodules/netzer"]
	path = submodules/netzer
	url = git@github.com:crocdialer/netzer.git
  shallow = true
[submodule "submodules/cxxopts"]
	path = submodules/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
  shallow = true
